body {
    background-color: rgb(235, 235, 235);
    font-family: "Lato", sans-serif;
}

/* Nav */

li{
     list-style: none;
}

nav{
    display:flex;
}

.a-img {
    width: 10%;
}

h1{
    letter-spacing: 2px;
}

nav a svg{
    width: 100%;
    height: auto;
}

a, a:hover {
    text-decoration: none;
}

a:hover li {
    color: rgb(215, 56, 94);
}

ul a li {
    color: black;
    font-size: 18px;
}

svg:hover path{
    transition: 0.3s all ease;
    stroke-width: 4;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin-left:auto;
}


.custom-btn {
    font-size: 18px;
    background-color: rgb(215, 56, 94);
    padding: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 1px;
    color: white;
    transition: 0.1s all ease;
}

    
.custom-btn:hover {
    color: rgb(215, 56, 94);
    cursor: pointer;
    border: 1px black solid;
    background-color: rgba(255, 255, 255, 0.7);
}

/* End Nav*/

.container-articles{
    height: 100%;
    display: block;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    border-bottom: none;
    padding: 12px;
    padding-left: 20px;
    width: 70%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.post{
    margin-bottom: 60px;
}

.question {
    font-size: 22px;
    letter-spacing: 1px;
}

.q-user{
    font-size: 14px;
    margin-left: 10px;
}

.answer{
    list-style: disc;
    font-size: 16px;
}

.flex{
    display: flex;
    align-items: baseline;
}

.upvote{
    border: none;
    background-color: rgb(235, 235, 235);
}

.upvote svg{
    transition: 0.3s all ease;
}

.upvote:hover path{
    fill: rgba(0, 0, 0, 0.2)
}


.rotate svg {
    transform: rotate(180deg);
    width: 15px;
    height: 13px;
}

.rotate path{
    fill: rgb(215, 56, 94);
}

/* Login */

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
    flex-direction: column;
}

.form_div{
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
}

.login-title{
    width: 100%;
    display: flex;
    justify-content: center;
}

.form_input{
    font-size: 20px;
    width: 100%;
    margin-top: 20px;
}

.form_input input{
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    transition: .1s all ease;
}

.form_input input:hover{
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.150);

}

.form_div .form-button {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    background-color: rgba(215, 56, 94, 1);
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    transition: .3s ease background-color;
}

.form-button.first{
    margin-top: 30px;
}

.form_div .form-button:hover {
    background-color: rgba(215, 56, 94, .8);
}

.failure{
    background-color: rgba(255, 50, 50, .3);
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 290px;
    padding: 10px;
    transition: .3s all ease;
}