body {
    background-color: rgb(235, 235, 235);
}

li{
     list-style: none;
}

nav{
    display:flex;
}

.a-img {
    width: 10%;
}

h1{
    letter-spacing: 2px;
}

nav a svg{
    width: 100%;
    height: auto;
}

a, a:hover {
    text-decoration: none;
}

a:hover li {
    color: rgb(215, 56, 94);
}

ul a li {
    color: black;
}

svg:hover path{
    transition: 0.3s all ease;
    stroke-width: 4;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin-left:auto;
}


.custom-btn {
    font-size: 13px;
    background-color: rgb(215, 56, 94);
    padding: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 1px;
    color: white;
    transition: 0.1s all ease;
}

    
.custom-btn:hover {
    color: rgb(215, 56, 94);
    cursor: pointer;
    border: 1px black solid;
    background-color: rgba(255, 255, 255, 0.7);
}

.container-articles{
    height: 100%;
    display: block;
    border: rgba(100, 100, 100, 0.2) solid 2px;
    border-bottom: none;
    padding: 12px;
    padding-left: 20px;
    width: 70%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.post{
    margin-bottom: 60px;
}

.question {
    font-size: 20px;
    letter-spacing: 1px;
}

.q-user{
    font-size: 12px;
    margin-left: 10px;
}

.answer{
    list-style: disc;
}

.flex{
    display: flex;
    align-items: baseline;
}

.upvote{
    border: none;
    background-color: rgb(235, 235, 235);
}

.upvote svg{
    transition: 0.3s all ease;
}

.upvote:hover path{
    fill: rgba(0, 0, 0, 0.2)
}


.rotate svg {
    transform: rotate(180deg);
    width: 15px;
    height: 13px;
}

.rotate path{
    fill: rgb(215, 56, 94);
}